.box {
  width: 100vw;
  height: auto;
  min-height: 75vh;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  /* 左右中央寄せ */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  /* 上下中央寄せ */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  padding: 30px;
  box-sizing: border-box;
}

@media screen and (max-width: 320px) and (max-width: 480px) {
  .box {
    width: 320px;
    height: 480px;
  }
}

.p1 {
  font-size:52px;
  @media (min-width: 600px) {
    font-size: 36px;
  }

  @media (min-width: 800px) {
    font-size: 48px;
  }
  font-weight:bold;
  color: #364e96;/*文字色*/
  padding: 0.5em 0;/*上下の余白*/
  border-top: solid 3px #364e96;/*上線*/
  border-bottom: solid 3px #364e96;/*下線*/
  font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}

@media screen and (max-width: 320px) {
  p{font-size: 34px;}
}
@media screen and (min-width:480px and max-width:1024px) {
  p{font-size: 28px;}
}

@media screen and (min-width: 1024px) {
  p{font-size: 20px;}
}
p{font-size: 20px;}

h3 {
    color: 0000FF;
}

/* button */
.btn-circle-stitch {
  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #FFF;
  width: 90px;
  height: 90px;
  line-height: 90px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #87befd;
  border: dashed 1px #FFF;
  transition: .4s;
}

.btn-circle-stitch:hover {
  background: #668ad8;
  box-shadow: 0px 0px 0px 5px #668ad8;
}

.a1{
   position: relative;
   left:46%;
   width: 150px;
   height: 150px;
}

.text1{
    font-size: 20px;
    line-height: 1.8em
    word-wrap: break-word;
    white-space: normal;
    display: block;
}

.start{
   margin-top:30px
}

.btn-sticky {
  display: inline-block;
  padding: 1.2em 1.5em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #FF6F61;/*左線*/
  color: #FF6F61;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.btn-sticky:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}