@()

@main("【合コン・ビジネス】使える雑談ネタを提供します！") {
<h1>雑談ネタ作成アプリの使い方</h1>
<h2>はじめに</h2>
<div class="text1">
    <p>当サイトをご利用いただきありがとうございます。</p>
    <p>よく話のネタがなくて「毎回ただの愚痴発散の飲み会になってしまう」「合コンで何を話していいかわからない」</p>
    <p>「自己紹介のネタに１つ話題を付け加えたい」など雑談のネタに困っている人のために</p>
    <p>当アプリを作成いたしました。</p>
    <p>ブラウザ上で動作するためアプリをインストールせずに利用可能です。</p>
    <p>※要望が多くなってきたらアプリ化も検討していく予定です。</p>
</div>
<h2>本アプリの概要</h2>
<div class="text1">
    <p>コミュニケーションを取りたいけど、どんな話題を出せばいいか中々思いつかない時に</p>
    <p>話題のネタをランダムで表示します。</p>
    <p>なるべく大人数で利用すると盛り上がると思います。</p>

    <p>一人で雑談ネタを仕入れるのに使っても全然OKです！</p>
    <p>雑談力で仕事も恋も上手くいくかも？（自己責任で）</p>
</div>

<hr>

<h2>利用シーン</h2>
<div class="text1">
    <p>主に下記の場面で利用すると盛り上がります！</p>
    <p>・合コンや会社の飲み会などを盛り上げたい</p>
    <p>・ディスカッションの練習テーマ</p>
    <p>・レジャー施設等の待ち時間で会話を繋げたい</p>
    <p>・ビジネスの雑談タイムで会話を繋げたい</p>
    <p>・場を盛り上げたい時に</p>
    <p>・こっそりと雑談ネタを仕入れたい時に</p>
</div>
<hr>

<h2>ルール</h2>
<div class="text1">
    <p>ゲーム開始時に必ず下記のルールを参加者に伝えてください。</p>
    <p>ルール１：答えたくない or 答えられない質問は無理に答えず次のテーマに移動すること</p>
    <p>ルール２：雑談ネタの中には恋バナや下ネタ系を含むものもあります。苦手な人はごめんなさい</p>
    <p>ルール３：参加者の皆様は紳士・淑女の方々とお見受けします。ドン引きする過激な内容はほどほどに・・・・</p>
    <p>ルール４：もしかしたら聞いちゃいけない話もあると思うので、ゲーム終了後には忘れましょう！</p>
    <p>※でも良い話は拡散してもいいかも♪</p>
</div>

<h2>遊び方</h2>
<h3>基本的な遊び方</h3>
<div class="text1">
    <p>表示したテーマを全員に見えるようにして、テーマにそって話をします。</p>
    <p>コミュニケーションなので相手が話した内容に対して質問したりツッコミいれたりして</p>
    <p>会話を広げてください</p>

    <p>参加者によりますが、一人３〜５分くらいで、必ず参加者全員がトークを引けるように</p>
    <p>タイムキーパーがいると尚良いです。</p>
    <p>１人２問回答で１回やってみて時間を調整すると良いです。</p>
</div>

<hr>

<h3>1つのテーマを全員で話す時</h3>
<div class="text1">
    <p>パソコン/スマートフォン/タブレットで当アプリを表示し、</p>
    <p>全員が見えるように表示してください。</p>
</div>

<br>

<h3>一人ひとり違うテーマを話したい時</h3>
<div class="text1">
    <p>1台のパソコン/スマートフォン/タブレットを共有して利用するか、</p>
    <p>各参加者に本アプリを起動していただき、各参加者が全員に見えるように表示してください。</p>
</div>

<br>

<h3>グループ毎にテーマを話す場合</h3>
<div class="text1">
    <p>グループの数分のパソコン/スマートフォン/タブレットを準備してください</p>
    <p>各グループで本アプリを使用してください</p>
</div>

<br>

<h3>ちょっと変わった遊び方</h3>
<div class="text1">
    <p>・自分が何のテーマを話しているのか当ててもらうゲームとして利用</p>
    <p>・トーク番組のようにMC役の方が参加者に話題を振っていく</p>
    <p>・大喜利のネタとして！</p>
</div>

<hr>

<h2>雑談ネタの投稿やアプリの要望はこちらから</h2>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSffiRwiS4qASz7gLv3j2k7InyJNb1kF345aPJjHYfz51O3O-g/viewform?usp=sf_link">雑談ネタの投稿・アプリ改善要望</a>

<div class="start">
    <a href="/load" class="btn-sticky">始める</a>
</div>
}
