@()

@main("【話上手になれる話題提供アプリ】合コン・ビジネスで使える雑談ゲーム「ざつだんジョーズ」") {
<h1>雑談や話題のネタ提供アプリ「ざつだんジョーズ」</h1>
<h2>プライバシーポリシー</h2>
本アプリを利用する際には<a href="@routes.Assets.versioned("html/policy.html")">利用規約</a>に同意したものとみなします。
<div class="start">
  <a href="/load" class="btn-sticky">始める</a>
  <a href="/howto" class="btn-sticky">使い方</a>
</div>

<h2>雑談ネタの投稿やアプリの要望はこちらから</h2>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSffiRwiS4qASz7gLv3j2k7InyJNb1kF345aPJjHYfz51O3O-g/viewform?usp=sf_link">雑談ネタの投稿・アプリ改善要望</a><br/>
}
